.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.box {
    background-color: rgb(0, 191, 255);
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}
