.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.items {
    border: 1px solid black;
    padding: 15px;
    background-color: rgb(0, 225, 255);
    text-align: center;
}
