.container {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

/* Fixed width columns */
.fixed {
    grid-template-columns: 200px 200px 200px;
}

/* Flexible columns */
.flexible {
    grid-template-columns: 1fr 1fr 1fr;
}

.items {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    text-align: center;
}
