.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(159, 226, 248);
    padding: 15px;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: rgb(150, 255, 150);
    padding: 15px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: rgb(229, 185, 185);
    padding: 15px;
    text-align: center;
}
