.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.items {
    border: 1px solid black;
    padding: 15px;
    background-color: rgb(194, 236, 10);
    text-align: center;
}

/* Column span */
.one {
    grid-column: 1 / 3;
}
